footer {
    background-color: #000;
}

#Social a {
    text-decoration: none;
    color: #fff;
}

#Menu a {
    text-decoration: none;
    color: #fff;
}

#More a {
    text-decoration: none;
    color: #fff;
}

#Category a {
    text-decoration: none;
    color: #fff;
}